.App {
  background-color: rgb(45, 45, 45);
  height: 100%;
  width: 100%;
}

.messageCreator {
  display: block;
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100%;
  background-color: gray;
  box-sizing: border-box;
  padding: 16px 24px;
}

.messageCreator input {
  font-size: 18px;
  box-sizing: border-box;
  padding: 4px 8px;
  color: rgb(14, 13, 13);
  border-radius: 4px;
  width: 100%;
}

.messagesContainer {
  height: 100%;
  display: block;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: left;
  padding: 0 20px;
  padding-bottom: 80px;
  height: min-content;
  margin-top: auto;
  margin-bottom: 0%;
  color: white;
}
.message {
  width: 100%;
  font-size: 20px;
}
